#root{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  padding: 10px;
  position: relative;
  background-image: url('assets/nightsky1.png');
  background-size: cover;

}

