 .screenshot{
  width: 400px;
  border-radius: 20px;
 }

 p{
  max-width: 400px;
 }
 h2{
  text-align: center;
 }
 
 .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF50;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
 }
 .card a:hover{
  color: #fff;
 }
 .tech{
  display: flex;
 }
 .tech span{
  padding: 5px 10px;
  margin: 5px;
  border-radius: 8px;
 }
 .html{
  background-color: yellow;
 }
 .css{
  background-color: aqua;
 }
 .javascript{
  background-color: orange;
 }
 .animation{
  background-color: rgb(171, 81, 255);
 }